<div class='con-center fixLayout blogList'>
	<div class='l blog'>
		<h1><a href='http://www.cnblogs.com/Arthus/p/3804037.html' target="_blank">html5与EmguCV前后端实现——人脸识别篇（一）</a></h1>
		<div>
			<span>2014-6-24</span>
			<i>share</i>
			<a class='icon_facebook'></a>
			<a class='icon_weibo'></a>
		</div>
		<img src='../img/blog_detection.png' alt='' />
		<p>大概半年多前吧，因为工作需要，我开始研究图像识别技术。OpenCV在这方面已经有了很多技术积累，在html5领域也很早就有了这方面的Demo。但是一番学习下来，我发现基本上这方面的文章大都比较零散片面，而且很多关键的代码可能已经老化不能正常使用了。所以这个系列的文章中，我将对html5与EmguCV的整体开发过程做一个整理，逐步介绍怎么使用html5技术和EmguCV类库实现各种看上去高大上的识别技术。</p>
		<a href='http://www.cnblogs.com/Arthus/p/3804037.html' target="_blank" class='more'>>>&nbsp;&nbsp;more</a>
	</div>
	<div class='l blog'>
		<h1><a href='http://www.cnblogs.com/Arthus/p/3738306.html' target="_blank">Fireworks Extension —— AutoSlice 介绍</a></h1>
		<div>
			<span>2014-5-0</span>
			<i>share</i>
			<a class='icon_facebook'></a>
			<a class='icon_weibo'></a>
		</div>
		<img src='../img/blog_autoSlice.png' alt='' />
		<p> 前不久在网上到处瞎晃的时候，发现Adobe的软件几乎都可以写插件。Fireworks更是很早的版本就支持使用javascript编写插件，于是乎如入桃园，奋斗几日为VD小伙伴们写了一个插件，命名AutoSlice。 文末会附上插件下载地址及说明 顾名思义，AutoSlice是一款提供自动切图</p>
		<a href='http://www.cnblogs.com/Arthus/p/3738306.html' target="_blank"  class='more'>>>&nbsp;&nbsp;more</a>
	</div>
	<div class='l blog'>
		<h1><a href='http://www.cnblogs.com/Arthus/p/3884442.html' target="_blank">MyVoix2.0.js 麦克风波形绘制(一)</a></h1>
		<div>
			<span>2014-8-1</span>
			<i>share</i>
			<a class='icon_facebook'></a>
			<a class='icon_weibo'></a>
		</div>
		<img src='../img/blog_1.png' alt='' />
		<p> 最近更新了之前发布的语音识别框架MyVoix，加入了麦克风的波形分析效果。没有看过MyVoix介绍的同学请猛戳（传送门）Github地址 在新的更新中，波形分析可以绑定麦克风源，也可以单独配合别的音源使用。首先看一下对麦克风进行波形绘制的代码。 可以看到</p>
		<a href='http://www.cnblogs.com/Arthus/p/3884442.html' target="_blank"  class='more'>>>&nbsp;&nbsp;more</a>
	</div>
	<div class='l blog'>
		<h1><a href='http://www.cnblogs.com/Arthus/p/3889457.html' target="_blank">MyVoix2.0.js 源码分析 WebSpeech与WebAudio篇</a></h1>
		<div>
			<span>2014-8-4</span>
			<i>share</i>
			<a class='icon_facebook'></a>
			<a class='icon_weibo'></a>
		</div>
		<img src='../img/blog_1.png' alt='' />
		<p>前端的交互将涉及越来越多元的交叉学科，我们正如十几年前人们经历Css的诞生一样，见证着一场带动整个行业乃至社会的变革。</p>
		<a href='http://www.cnblogs.com/Arthus/p/3889457.html' target="_blank"  class='more'>>>&nbsp;&nbsp;more</a>
	</div>
</div>
