$blue:#2792ce;
$black:#464646;
$gray:#666;

@mixin header-height{ height:100px; line-height:100px; }
@mixin con-center{width:1440px;margin:0 auto;}
@mixin icon-small{display:inline-block; height:30px; width:30px;}

*{margin:0px;padding:0px; 
    font:{
        size:14px;
        family: Arial,Helvetica,  sans-serif;
    }
}
html,body{width:100%;height:100%;}

.fixLayout{clear: both;overflow: hidden;zoom:0;}
.r{float: right;}
.l{float:left;}
.con-center{@include con-center; position:relative;}

.github{color:$black; background:url('../img/github.png') no-repeat 0px 28px; text-indent:70px;@include header-height; width:200px; display:block;font-size:20px; }
.avatar{background:url('../img/avatar.png'); width:75px; height:75px;}

header{width:100%;  background:rgba(255,255,255,0.95); box-shadow: 0px 1px 3px #000; @include header-height; position:absolute;top:0px; left:0px;
           nav{@include con-center;@include header-height;
                     a{display: block;@include header-height; width:120px; margin-left:20px; font-size:20px; color:$black; font-weight:bold; text-decoration: none; cursor:pointer; }
                     a:hover{color:$blue;}
                     .current{color:$blue;}
                     .github{color:$blue;}
                     .avatar{margin-top:12px;}
           }
}

footer{ width:100%;
           hr{ height: 10px; width:100%; border:none; background:#000;}
           .copyright{text-align:center; margin-top:70px;
                a{font-size:20px; color:$gray;}
           }
           .one{height:230px;}
           .github{position:absolute;left:20px; bottom:0px; font-weight:bold; }
           .qrcode{display:block; height:300px; width:300px; background:url('../img/QRgithub.png');  border:25px solid #fff;position:absolute; top:0px; right:240px;}
}

.icon_facebook{background:url('../img/icon_facebook.png') 50% 50% no-repeat;@include icon-small;}
.icon_weibo{background:url('../img/icon_weibo.png') 50% 50% no-repeat;@include icon-small;}